/* Style your dropdown below! */
.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px grey solid;
}

#toggle{
    background-color: blueviolet;
    width: 100%;
}

img{ 
    width: 40px;
    padding: 10px;
}

p{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}

li{
    font-size: 18px;
    cursor: pointer;
    border: 1px grey solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}